.addPost {
  width: 400px;
  aspect-ratio: 10/11;
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  position: absolute;
  background-color: white;
  top: 100px;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  transform: translateX(120%);
}
.addPost_head {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  background: white;
  text-align: center;
}
.form {
  width: 100%;
  height: 90%;
  display: flex;
  /* background: inherit; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form * {
  width: 80%;
  margin: auto;
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  color: grey;
  font-weight: bold;
  background: rgb(235, 235, 235);
  border-radius: 0.4rem;
}
.create_btn {
  border: none;
  background: linear-gradient(
    -45deg,
    rgb(0, 81, 255),
    rgb(0, 140, 255)
  );
  color: white;
}
#img{
    position: absolute;
    z-index: -1;
    width: inherit;
    height: 100%;
    object-fit: cover;
}
