fieldset{
  width: 70%;
  background: none;
  box-shadow: 0px 15px 10px -15px #111;
  border-radius: 0.5em;
  border-color: rgb(255, 0, 119);
}
legend{
  background-color: white;
  color: black;
  font-weight:bold;
  border:2px solid rgb(255, 0, 119);
  font-family: sans-serif;
  border-radius: 0.5em;
  padding: 5px;
}
table {
  width: 100%;
  cursor: default;
  background-color: white;
  font-family: Verdana;
  border-collapse: collapse;
}
thead > tr {
  background:linear-gradient(90deg,red,rgb(255, 0, 119));
  color: white;
}
th,
td {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}
tr:nth-child(even) {
  background: rgb(201, 201, 200);
}
.restore{
  color: rgb(4, 124, 4);
  font-weight: bold;
  font-family: 'Fira Code';
}
.restore:active{
  color:red;
}